/* -------------Reset default browser styles------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* -------------create variables ------------*/
:root {
  --primary-color: hsl(215, 51%, 70%);
  --secondary-color: hsl(178, 100%, 50%);
  --body-bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --border-color: hsl(215, 32%, 27%);
  --text-white: hsl(0, 0%, 100%);
  --border-radius: 10px;
}

/* ----------general body styles-------- */
body {
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: var(--body-bg-color);
  color: var(--primary-color);
  
}


img {
  width: 100%;
}

a {
  color: var(--text-white);
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0; 
  cursor: pointer;
  color: var(--text-white);
}

a:hover,
h1:hover {
  color: var(--secondary-color);
}

p {
  line-height: 1.7;
  color: var(--primary-color);
}

span {
  font-weight: 600;
  color: var(--secondary-color);
}

.container {
  width: 375px;
  margin: 4rem auto;
}

.card {
  width: 375px;
  padding: 1.5rem;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background-color: var(--card-bg-color);
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  vertical-align: text-top;
  gap: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  vertical-align: text-top;
  justify-content: space-between;
  align-items: center;
}

.cover {
  position: relative;
  cursor: pointer;
} 

.cover:hover .hidden {
  visibility: visible;
}

.cover img {
  height: 322px;
  border-radius: var(--border-radius);
}

.hidden {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 322px;
  position: absolute;
  visibility: hidden;
  text-align: center;
  border-radius: var(--border-radius);
  background-color: rgba(0, 255, 247, 0.5);;
}

.hidden img{
  position: inherit;
  top: 131px;
  left: 139px;
  right: 139px;
  height: 48px;
  width: 48px;
}

.middle {
  border-bottom: 1px solid var(--border-color);
}

.middle .flex {
  padding: .5rem 0;
}

.description {
  margin-bottom: .7rem;
  line-height: 1.4;
}

.amount {
  color: var(--secondary-color);
  padding-left: .5rem;
  margin-top: -0.24rem;
  font-size: 1rem;
}

.days__counter {
  font-size: 1rem;
  font-weight: normal;
  line-height: unset;
  padding-left: .5rem;
  margin-top: -0.21rem;
}

.creator {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.avatar {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: var(--text-white);
  text-align: center;
}

.avatar img {
  height: 34px;
  width: 34px;
  margin-top: 1px;
  vertical-align: middle;
  
}

.creator p {
  margin-left: .85rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
}

.attribution {
  font-size: .8rem;
  margin-top: 2rem;
}

.attribution a {
  color: var(--primary-color);
  text-decoration: underline;
  
}

.attribution a:hover {
  color: var(--secondary-color);
}

/* for medium and large devices */
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin: 4rem auto;
  }
}
